### 解释逻辑回归的结果

在这个 notebook 与 测试题中，你将做一些解释逻辑回归系数的练习。在前面的视频中看到的内容，应该有助于你完成该 notebook 。

该数据集包含四个变量： `admit`、 `gre`、 `gpa` 与 `prestige`

* `admit` 是一个二元变量，它表明一个候选人是否被 UCLA 录取，录取=1，不被录取=0 。
* `gre` 代表 GRE 成绩，GRE 指的是研究生入学考试。
* `gpa` 代表平均学分绩点 （Grade Point Average）。
* `prestige` 代表申请人母校（此次申请之前申请人曾就读的学校）的声誉，其中1代表最高（声誉最高），4代表最低（没有声誉）。

首先，让我们导入必要的库和数据。

In [3]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv("./admissions.csv")
df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

In [16]:
bin_edges = [0,2,4]

In [17]:
bin_names = [0,1]
bin_names

[0, 1]

In [26]:
df['prestigenew'] = pd.cut(df['prestige'], bin_edges, labels = bin_names)

In [27]:
df.head()

   admit  gre   gpa  prestige  intercept prestigenew
0      0  380  3.61         3          1           1
1      1  660  3.67         3          1           1
2      1  800  4.00         1          1           0
3      1  640  3.19         4          1           1
4      0  520  2.93         4          1           1

In [28]:
df.groupby('prestige').size()

prestige
1     61
2    148
3    121
4     67
dtype: int64

In [29]:
df.groupby('prestigenew').size()

prestigenew
0    209
1    188
dtype: int64

In [24]:
df.dtypes

admit             int64
gre               int64
gpa             float64
prestige          int64
intercept         int64
prestigenew    category
dtype: object

In [23]:
df['intercept'] =1

lm = sm.OLS(df['admit'],df[['intercept','gre','gpa','prestigenew']])

result = lm.fit()

result.summary()

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

In [35]:
1/np.exp(0.0004)

0.99960007998933431

In [36]:
1/np.exp(0.1462)

0.86398488892600767

In [37]:
 1/np.exp(-0.1097)

1.1159432372652238

In [38]:
df['intercept'] =1

logit_mode = sm.Logit(df['admit'],df[['intercept','gre','gpa','prestige']])

result = logit_mode.fit()

result.summary()

Optimization terminated successfully.
         Current function value: 0.575009
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      393
Method:                           MLE   Df Model:                            3
Date:                Thu, 20 Dec 2018   Pseudo R-squ.:                 0.07981
Time:                        07:46:39   Log-Likelihood:                -228.28
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.297e-08
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -3.3407      1.138     -2.937      0.003      -5.570      -1.111
gre            0.0022      0.001      2.059      0.040       0.000       0.004
gpa            0.7529      0.328      2.293      0.022       0.109       1.396
prestige      -0.5595      0.127     -4.404      0.000      -0.809      -0.310
==============================================================================
"""

In [39]:
df[['prestige_1','prestige_2','prestige_3','prestige_4']] = pd.get_dummies(df['prestige'])

df.head()

,admit,gre,gpa,prestige,intercept,prestige_1,prestige_2,prestige_3,prestige_4
0,0,380,3.61,3,1,0,0,1,0
1,1,660,3.67,3,1,0,0,1,0
2,1,800,4.00,1,1,1,0,0,0
3,1,640,3.19,4,1,0,0,0,1
4,0,520,2.93,4,1,0,0,0,1

In [40]:
# prestige_1_group = df[df['prestige_1'] == 1]['prestige_1'].count() / df.shape[0]
# prestige_1_group
df = df.drop('prestige_1',axis=1)
df.head()

   admit  gre   gpa  prestige  intercept  prestige_2  prestige_3  prestige_4
0      0  380  3.61         3          1           0           1           0
1      1  660  3.67         3          1           0           1           0
2      1  800  4.00         1          1           0           0           0
3      1  640  3.19         4          1           0           0           1
4      0  520  2.93         4          1           0           0           1

In [43]:
df['intercept'] =1

logit_mode = sm.Logit(df['admit'],df[['intercept','prestige_2','prestige_3','prestige_4']])

result = logit_mode.fit()

result.summary()

Optimization terminated successfully.
         Current function value: 0.593375
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      393
Method:                           MLE   Df Model:                            3
Date:                Thu, 20 Dec 2018   Pseudo R-squ.:                 0.05042
Time:                        07:47:06   Log-Likelihood:                -235.57
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.533e-05
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      0.1643      0.257      0.639      0.523      -0.339       0.668
prestige_2    -0.7479      0.309     -2.421      0.015      -1.353      -0.142
prestige_3    -1.3647      0.335     -4.069      0.000      -2.022      -0.707
prestige_4    -1.6867      0.409     -4.121      0.000      -2.489      -0.885
==============================================================================
"""

In [50]:
1/(np.exp(0.1643))

0.84848743746321464

In [52]:
1/(np.exp(-0.7479))

2.1125589812969499

In [53]:
1/(np.exp(-1.3647))

3.9145485112670424

In [56]:
1/(np.exp(-1.6867))

5.4016258954434955

这里有几种不同的方法，你可以选择其中一个在这个数据集中使用 `prestige` 列。对于这个数据集，我们希望从声誉1到声誉2，有一个录取率；从声誉3变为声誉4，有一个不同的录取率。

1. 有了上述的想法之后，创建几个虚拟变量，这几个变量可以把声誉改成一个分类变量，而不是定量，然后回答下面的测试1。

2. 现在，拟合一个逻辑回归模型，使用 `gre`、 `gpa` 以及使用基准值为 `1`的  `prestige` 来预测一个人是否会被录取。根据你的结果来回答下面的测试2和3。 不要忘记添加一个截距。