# /5评估数据/ Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.

In [659]:
import pandas as pd
import numpy as np
import pprint as pp
df08 = pd.read_csv('all_alpha_08.txt', sep = '\t')
df18 = pd.read_csv('all_alpha_18.txt', sep = '\t')
# 注意原文件链接为xlsx、zip和txt（不是csv，csv课程中没给出链接）
# 使用read_csv读入，发现没有分列，看样子是tab分割
# 加个 sep = '\t'指定使用tab分割解决
# （mac 遇到奇怪问题下载的文件都很奇怪，可能和单位网有关）

In [660]:
df08.head(3)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no

In [661]:
df18.head(3)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV03.08H3,small SUV,3,26,27,27,6,No,330

1.每个数据集中的样本数

2.每个数据集中的列数

In [662]:
print(df08.shape)
print(df18.shape)

(2404, 18)
(2648, 18)

3.每个数据集中重复的行数

In [663]:
sum_dup_08 = sum(df08.duplicated())
sum_dup_18 = sum(df18.duplicated())
print(sum_dup_08,sum_dup_18)

25 0

4.列的数据类型

In [664]:
df08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

5.具有缺失值的特征

In [665]:
null_list = []
for i in df08.columns:
    if df08[i].isnull().any():
        null_list.append(i)
null_list
# 使用判断把空置输出为一列

['Cyl',
 'Trans',
 'Drive',
 'FE Calc Appr',
 'City MPG',
 'Hwy MPG',
 'Cmb MPG',
 'Unadj Cmb MPG',
 'Greenhouse Gas Score']

In [666]:
# 使用isnull.sum检查数量
nucheck = df08.isnull().sum()
nucheck

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [667]:
# 看下占的百分比
nucheck/df08.shape[0]
nucheck

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

6.每个数据集中特征的非空唯一值的数量

In [668]:
for i in df08.columns:
    print(i, end = '     ')
    print(df08[i].nunique())
# 可以使用格式化字符串来更好的显示，略过

Model     436
Displ     47
Cyl     8
Trans     14
Drive     2
Fuel     5
Sales Area     3
Stnd     12
Underhood ID     343
Veh Class     9
Air Pollution Score     13
FE Calc Appr     2
City MPG     39
Hwy MPG     43
Cmb MPG     38
Unadj Cmb MPG     721
Greenhouse Gas Score     20
SmartWay     2

In [669]:
# 这些唯一值都是什么，以及每个的计数

In [670]:
# 加上value_counts 看下（车型较多有400多种）
# 使用[1:]将车型过滤掉
for i in df08.columns[1:]:
    print('\n', i, ':')
    print(df08[i].value_counts())

 Displ :
3.5    194
2.4    184
2.5    171
3.0    158
2.0    132
3.6    110
5.3    108
6.0    103
3.7     86
5.4     81
4.0     80
4.6     80
4.8     74
2.3     71
2.7     68
3.8     62
5.7     59
4.2     57
4.7     45
6.2     41
1.8     36
3.2     34
2.2     30
5.5     30
5.0     29
3.3     24
1.6     24
2.9     24
4.3     22
5.6     20
3.1     18
4.4     16
3.4     16
6.7     14
6.8     13
1.5     12
6.1     12
5.9     12
2.8     12
6.5     10
3.9      8
4.5      6
1.3      6
8.4      4
5.2      4
7.0      2
8.0      2
Name: Displ, dtype: int64

 Cyl :
(6 cyl)     864
(4 cyl)     600
(8 cyl)     533
(5 cyl)     113
(12 cyl)     60
(10 cyl)     29
(2 cyl)       4
(16 cyl)      2
Name: Cyl, dtype: int64

 Trans :
Auto-L4    502
Auto-L5    329
Auto-S6    327
Man-6      295
Man-5      269
Auto-S5    147
Auto-L6    118
Auto-AV     86
Auto-L7     42
Auto-S4     42
Auto-S7     22
Auto-4      10
S8           8
Auto-6       8
Name: Trans, dtype: int64

 Drive :
2WD    1525
4WD     786
Name: Drive, dtype: int64

 Fuel :
Gasoline       2318
ethanol/gas      72
diesel           11
CNG               2
ethanol           1
Name: Fuel, dtype: int64

 Sales Area :
FA    1157
CA    1084
FC     163
Name: Sales Area, dtype: int64

 Stnd :
B5      990
L2      556
U2      428
B4      125
B8       95
HDV      84
S2       76
B2       16
B3       15
SLEV     11
B10       6
LEV       2
Name: Stnd, dtype: int64

 Underhood ID :
8GMXK06.0389    48
8BMXB03.0N52    46
8GMXT05.3384    46
8BMXV03.0N54    32
8VVXV02.5U2T    32
8ADXV02.0366    28
8GMXK06.0396    28
8FJXB02.5PYH    26
8GMXT06.2382    26
8GMXB03.6148    24
8GMXV02.4025    24
8CRXT03.7NE0    24
8GMXT05.3373    20
8PRXV03.8997    20
8GMXV02.3001    20
8GMXT03.6151    20
8CRXB02.4ME0    20
8CRXT05.7PE0    20
8VWXV02.5257    20
8MBXV06.0L2A    20
8FJXB02.5MXG    20
8TYXT03.5BEM    20
8NSXT04.0G6A    20
8VWXV02.5253    20
8PRXV03.4C87    20
8CRXT03.7PE0    19
8TYXT04.0AEM    18
8ADXV03.1374    18
8GMXT06.2394    18
8GMXT04.3186    16
                ..
8HYXV03.3TW5     2
8ADXV02.0352     2
8NSXT02.585A     2
8FMXT05.43DP     2
8BGTV08.0V16     2
8TYXV01.5HC3     2
8HYXV03.3FW5     2
8FMXT04.23A4     2
8VWXT05.0375     1
8TYXV02.4HX2     1
8KMXV02.0LPC     1
8TKXV02.3NH2     1
8DSXV02.4GRG     1
8GMXT05.3377     1
8GMXT02.4135     1
8FMXT05.44E2     1
8NSXV02.5G3A     1
8DSXV02.4G6G     1
8GMXT05.3376     1
8GMXT03.9140     1
8TKXV02.3NF1     1
8GMXT04.2188     1
8HYXV02.0HPC     1
8S3XT05.4IBB     1
8FMXT06.85HR     1
8GMXT02.4124     1
8TKXV02.35NN     1
8FMXT05.43HP     1
8MBXV03.0BN8     1
8GMXT02.4123     1
Name: Underhood ID, Length: 343, dtype: int64

 Veh Class :
small car          692
SUV                648
pickup             350
midsize car        276
van                129
large car          129
station wagon      123
minivan             37
special purpose     20
Name: Veh Class, dtype: int64

 Air Pollution Score :
6      1471
7       521
2       112
3        85
9.5      80
6/6      32
3/3      27
9        23
1        22
8        15
7/7      12
0         3
6/4       1
Name: Air Pollution Score, dtype: int64

 FE Calc Appr :
Drv    2175
5cy      30
Name: FE Calc Appr, dtype: int64

 City MPG :
17       233
16       216
15       213
20       195
19       182
18       180
14       172
13       160
12       135
21       122
22        88
23        45
24        42
11        35
10        28
11/14     20
26        16
25        16
27        16
9         12
29        10
9/12      10
9/14       9
9/13       7
34         6
8          6
11/15      6
13/18      4
28         4
10/13      3
40         2
33         2
13/19      2
10/14      2
48         2
12/16      1
35         1
14/18      1
11/17      1
Name: City MPG, dtype: int64

 Hwy MPG :
24       241
20       174
25       169
26       167
28       148
19       144
22       143
18       126
27       123
23       106
17        99
29        99
31        76
30        66
16        59
21        58
32        35
33        34
15        21
14/19     14
34        12
15/20     12
35        11
14        10
12/17      8
12/19      7
12/16      6
36         6
13         6
45         4
37         2
13/17      2
12/18      2
20/27      2
16/23      2
13/19      2
19/25      2
13/18      2
19/26      1
21/29      1
17/24      1
20/28      1
17/23      1
Name: Hwy MPG, dtype: int64

 Cmb MPG :
20       215
22       211
19       196
18       183
21       166
15       164
14       156
16       144
17       139
24       134
23       119
25        73
26        46
13        34
27        34
12        30
28        28
29        24
12/16     20
10/15     15
11        14
10/14     11
32         8
31         6
10         6
13/17      4
11/15      3
16/22      3
34         3
15/21      3
42         2
30         2
13/18      2
12/15      2
46         2
13/19      1
16/21      1
14/19      1
Name: Cmb MPG, dtype: int64

 Unadj Cmb MPG :
13.8612    16
18.9273    16
27.7684    14
29.2274    14
31.1162    12
28.6009    12
24.3604    12
26.2843    12
12.9000    10
19.5000    10
29.3687    10
19.0126    10
27.3126    10
24.8679     9
19.9678     9
35.9566     9
18.9287     9
33.7076     9
25.8136     8
16.4338     8
14.8322     8
13.8375     8
25.8212     8
12.2796     8
28.8034     8
24.2241     8
25.3086     8
27.5143     8
15.2051     8
32.5709     8
           ..
19.2186     1
26.5701     1
26.0747     1
18.3969     1
21.8924     1
26.0000     1
25.8697     1
34.6809     1
18.9358     1
26.9756     1
24.4810     1
16.1362     1
26.8962     1
21.6747     1
16.5908     1
26.8575     1
12.9349     1
25.1000     1
46.7098     1
13.7631     1
19.4531     1
25.8353     1
21.1376     1
22.5424     1
12.7142     1
13.2223     1
26.1804     1
20.4407     1
36.7250     1
12.8322     1
Name: Unadj Cmb MPG, Length: 721, dtype: int64

 Greenhouse Gas Score :
6      589
5      380
7      327
4      285
3      165
2      156
8      131
0       50
1       33
6/4     24
9       19
4/3     15
4/2     11
10       4
8/6      4
7/6      3
6/5      3
5/3      3
6/3      2
7/5      1
Name: Greenhouse Gas Score, dtype: int64

 SmartWay :
no     1766
yes     638
Name: SmartWay, dtype: int64

# /6清理列标签/ 清除列标签
使用 all_alpha_08.csv 和 all_alpha_18.csv

In [671]:
#先检查下原有数据
print(df08.shape)
df08.columns

(2404, 18)

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area', 'Stnd',
       'Underhood ID', 'Veh Class', 'Air Pollution Score', 'FE Calc Appr',
       'City MPG', 'Hwy MPG', 'Cmb MPG', 'Unadj Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [672]:
# 丢弃多余列
drop_list = ['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG']
df08.drop(drop_list, axis=1, inplace=True)
print(df08.shape)
df08.columns

(2404, 14)

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [673]:
drop_list = ['Stnd','Stnd Description','Underhood ID','Comb CO2']
df18.drop(drop_list, axis=1, inplace=True)
print(df08.shape)
df18.columns

(2404, 14)

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [674]:
# 先检查一下有没有列不同的
df08.columns == df18.columns

array([ True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True])

In [675]:
# 把列的名字得出来
for i in df08.columns:
    if i not in df18.columns:
        print(i)
        
for i in df18.columns:
    if i not in df08.columns:
        print(i)

Sales Area
Cert Region

In [676]:
# 将08的替换为18的
df08.rename(columns = 
            lambda x: x.replace('Sales Area', 'Cert Region'), 
            inplace = True)
# 这里使用的是lambda x:
# 就是对columns执行后面的操作 x.replace
# 而x.replace的操作是把后面小括弧中的前面替换成后面

In [677]:
# 还有就是把列中的空格替换成下滑线
# 因为很多处理要对空格判断，不要有比较好
# 全部变为小写是习惯，了解一下吧
df08.rename(columns=lambda x:
             x.strip().lower().replace(" ", "_"),
             inplace=True)
# .strip是去除单词首尾的空格
# .lower是变为小写
# .replace是把小括弧里的做替换
df08.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [678]:
# df18 也做一遍，再检查列是否一致
df18.rename(columns=lambda x:
             x.strip().lower().replace(" ", "_"),
             inplace=True)
df18.columns
df08.columns == df18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [679]:
# 也可以用这个，比较安静的
(df08.columns == df18.columns).all()

True

In [680]:
# 保存数据
df08.to_csv('data_08.csv', index=False)
df18.to_csv('data_18.csv', index=False)

# /7过滤、丢空、去重/ 过滤、丢弃空值、重复数据删除
使用 data_08.csv 和 data_18.csv

In [681]:
# 按认证区域过滤09
def cleancol(df):
    print(df.shape)
    df['cert_region'].unique()
    df = df.query('cert_region == "CA"')
    print(df.shape)      
    print(df['cert_region'].unique())
    df.drop(['cert_region'],axis=1,inplace=True)
    print(df.shape) 
    return df.info()


cleancol(df18)
cleancol(df08)
# 此cell如果执行多遍会有问题因为已经drop了cert_region
# 少年，要不要使用try/except优化了？
# 另外后面有个报错，怎么优化呢？

(2648, 14)
(1307, 14)
['CA']
(1307, 13)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1307 entries, 0 to 2646
Data columns (total 13 columns):
model                   1307 non-null object
displ                   1292 non-null float64
cyl                     1292 non-null float64
trans                   1307 non-null object
drive                   1307 non-null object
fuel                    1307 non-null object
veh_class               1307 non-null object
air_pollution_score     1307 non-null int64
city_mpg                1307 non-null object
hwy_mpg                 1307 non-null object
cmb_mpg                 1307 non-null object
greenhouse_gas_score    1307 non-null int64
smartway                1307 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 143.0+ KB
(2404, 14)
(1084, 14)
['CA']
(1084, 13)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 0 to 2400
Data columns (total 13 columns):
model                   1084 non-null object
displ                   1084 non-null float64
cyl                     1009 non-null object
trans                   1009 non-null object
drive                   1047 non-null object
fuel                    1084 non-null object
veh_class               1084 non-null object
air_pollution_score     1084 non-null object
city_mpg                1009 non-null object
hwy_mpg                 1009 non-null object
cmb_mpg                 1009 non-null object
greenhouse_gas_score    1009 non-null object
smartway                1084 non-null object
dtypes: float64(1), object(12)
memory usage: 118.6+ KB

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [682]:
# 丢弃含有缺失值的行
# 检查下缺失值
print(df08.isnull().sum())
# 丢弃有缺失的
df08.dropna(inplace = True)
df08.isnull().sum()

model                     0
displ                     0
cyl                     199
trans                   199
drive                    93
fuel                      0
cert_region               0
veh_class                 0
air_pollution_score       0
city_mpg                199
hwy_mpg                 199
cmb_mpg                 199
greenhouse_gas_score    199
smartway                  0
dtype: int64

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
cert_region             0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [683]:
print(df18.isnull().sum())
df18.dropna(inplace = True)
df18.isnull().sum()

model                    0
displ                   36
cyl                     36
trans                    0
drive                    0
fuel                     0
cert_region              0
veh_class                0
air_pollution_score      0
city_mpg                 0
hwy_mpg                  0
cmb_mpg                  0
greenhouse_gas_score     0
smartway                 0
dtype: int64

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
cert_region             0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [684]:
# double check 一下
df08.isnull().sum().any()

False

In [685]:
df18.isnull().sum().any()

False

In [686]:
# 重复数据删除
print(df08.duplicated().sum())
df08.drop_duplicates(inplace = True)
print(df08.duplicated().sum())

63
0

In [687]:
print(df18.duplicated().sum())
df18.drop_duplicates(inplace = True)
print(df18.duplicated().sum())

22
0

In [688]:
# 保存进度，以便下一段使用
df08.to_csv('data_08b.csv', index=False)
df18.to_csv('data_18b.csv', index=False)
# 建议使用不同的文件名，等都完成后再调优，避免覆盖文件带来的麻烦

# /8检查数据类型/ Inspecting Data Types
Use the space below to explore data_08.csv and data_18.csv to answer the quiz questions below regarding datatypes.

In [689]:
print(df08.head(1))
type(df08.info())

       model  displ      cyl    trans drive      fuel cert_region veh_class  \
0  ACURA MDX    3.7  (6 cyl)  Auto-S5   4WD  Gasoline          CA       SUV

  air_pollution_score city_mpg hwy_mpg cmb_mpg greenhouse_gas_score smartway
0                   7       15      20      17                    4       no
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142 entries, 0 to 2403
Data columns (total 14 columns):
model                   2142 non-null object
displ                   2142 non-null float64
cyl                     2142 non-null object
trans                   2142 non-null object
drive                   2142 non-null object
fuel                    2142 non-null object
cert_region             2142 non-null object
veh_class               2142 non-null object
air_pollution_score     2142 non-null object
city_mpg                2142 non-null object
hwy_mpg                 2142 non-null object
cmb_mpg                 2142 non-null object
greenhouse_gas_score    2142 non-null object
smartway                2142 non-null object
dtypes: float64(1), object(13)
memory usage: 251.0+ KB

NoneType

- cyl字符串要转换成数字
- air_polution转成浮点（object是字符串）
- city_mpg、hwy_mpg、cmb_mpg将字符串转换为浮点型
- greenhouse_gas_score从字符转为浮点

# /9修正数据类型第1部分/

In [701]:
# 使用str的extract检索里面的数字
# df08['cyl'] = df08['cyl'].str.extract('(\d+)').astype(int)
df08['cyl'] = df08['cyl'].str.extract('(\d+)').astype(int)
# （\d+)是匹配任意数字的意思，有兴趣的可以看看reg或者回顾week2格式化字符串
print(df08['cyl'].value_counts())
type(df08['cyl'][0])

6     836
4     582
8     516
5     113
12     60
10     29
2       4
16      2
Name: cyl, dtype: int64

numpy.int64

In [700]:
# air08
# 检查下，不但是str，除了小数还有分数
print(type(df08['air_pollution_score'][0]))
print(df08['air_pollution_score'].value_counts())
#print(df08['air_pollution_score'][14])
df08['air_pollution_score'] = df08['air_pollution_score'].astype(int)

<class 'str'>
6      1418
7       504
9.5      80
6/6      32
3        31
9        23
3/3      20
8        15
7/7      12
1         6
6/4       1
Name: air_pollution_score, dtype: int64

ValueError: invalid literal for int() with base 10: '9.5'

In [ ]:
# cyl18
print(df18['cyl'].value_counts())
df18['cyl'] = df18['cyl'].astype(int)
# 貌似astype不能使用inplace参数
print(df18['cyl'].value_counts())
type(df18['cyl'][0])

# /10修正数据类型第2部分/

In [ ]:
# air08
type(df08['air_pollution_score'][0])
df08['air_pollution_score'].astype(int, inplace = True)
type(df08['air_pollution_score'][0])